<div class="container no-padding">
  <div class="container-flex">
    <div class="col-2 col-flex side-nav">
      <%= link_to renter_dashboard_path, class: "nav-item" do %>
        <i class="fa fa-tachometer"></i>Dashboard
      <% end %>

      <%= link_to renter_monthly_rent_path, class: "nav-item" do %>
        <i class="fa fa-home"></i>Rent
      <% end %>

      <a class="nav-item">
        <i class="fa fa-bolt"></i>Dues
      </a>
    </div>

    <div class="col-10">
      monthly rent
    </div>
  </div>
</div>
