<div class="container no-padding">
  <div class="container-flex">
    <div class="col-2 col-flex side-nav">
      <%= link_to owner_dashboard_path, class: "nav-item" do %>
        <i class="fa fa-tachometer"></i>Dashboard
      <% end %>

      <%= link_to owner_properties_path, class: "nav-item" do %>
        <i class="fa fa-home"></i>Properties
      <% end %>

      <a class="nav-item">
        <i class="fa fa-users"></i>Renters
      </a>
    </div>

    <div class="col-10">
      <div class="col-12">
        <h3>Welcome back, <%= current_user.email %>!</h3>
      </div>
      <!-- <%= current_user.user_type %> -->
    </div>
  </div>
</div>
