<div class="container">
  <div class="row">
    <div class="col-12" id="main-pic"></div>
  </div>
  <div class="row">
    <div class="col-6">
      <h1 class="text-center">Rent</h1>
    </div>
    <div class="col-6">
      <h1 class="text-center">Property Owners</h1>
    </div>
  </div>
</div>
