<div class="container-flex">
  <div class="col-12 col-flex">

    <div class="col-8">
      <!-- <div class="clear-100"></div> -->
      <img src="http://placehold.it/800x550">
    </div>

    <div class="col-4">
      <div class="col-12">
      <div class="clear-50 no-mobile"></div>
      <h2><i class="fa fa-home"></i> Manage your rentals.</h2>
      <div class="clear-20"></div>
      <p class="font-light">PropertyPay enables you to manage for your rented properties easily with online payment options such as PayPal, Bitcoin, Smart Money, and more.<br><br>Easy, secure, and safe; with PropertyPay you can forget about traditional money transfer agencies.</p>
      </div>

      <div class="col-12">
        <div class="clear-100"></div>
        <%= link_to new_user_session_path do %>
          <button class="full-width">Sign In</button>
        <% end %>
      </div>
    </div>
  </div>

</div>

<div class="clear-50"></div>
<div class="clear-line"></div>
<div class="clear-50"></div>

<div class="container-flex">

  <div class="col-8 col-flex">
  </div>
</div>
