<div class="container-flex">
  <div class="col-8 col-flex">
    <div class="col-6">
      <div class="clear-50 no-mobile"></div>
      <h2><i class="fa fa-home"></i> Pay for your home easily.</h2>
      <div class="clear-20"></div>
      <p class="font-light">Find the next home for your family in the Philippines and pay for monthly rent/mortgages easily. PropertyPay enables you to pay for your rented properties easily with online payment options such as PayPal, Bitcoin, Smart Money, and more.<br><br>Easy, secure, and safe; with PropertyPay you can forget about traditional money transfer agencies.</p>
    </div>
    <div class="col-1">
      <div class="clear-20"></div>
      <div class="clear-line no-desktop"></div>
      <div class="clear-20"></div>
    </div>
    <div class="col-5">
      <div class="clear-100"></div>
      <%= link_to new_user_session_path do %>
        <button class="full-width">Sign In</button>
      <% end %>
      <p class="text-center small">or</p>
      <%= link_to new_user_registration_path do %>
        <button class="button-white full-width">Sign Up</button>
      <% end %>
    </div>
  </div>
</div>

<div class="clear-50"></div>
<div class="clear-line"></div>
<div class="clear-50"></div>

<div class="container-flex">

  <div class="col-8 col-flex">
  </div>
</div>
