<div class="container-flex">
  <div class="col-8 col-flex">
    <div class="col-6">
      <div class="clear-50 no-mobile"></div>
      <h1>Find your next Home.</h1>
      <div class="clear-20"></div>
      <p class="font-light">Find the next home for your Family in the Philippines and pay for monthly rent/mortgages easily. PropertyPay enables you to pay for your rented properties easily with online payment options such as PayPal, Bitcoin, Smart Money, and more.<br><br>Easy, secure, and safe; with PropertyPay you can forget about traditional money transfer agencies.</p>
    </div>
    <div class="col-1">
      <div class="clear-20"></div>
      <div class="clear-line no-desktop"></div>
      <div class="clear-20"></div>
    </div>
    <div class="col-5">
      <div class="clear-100 no-mobile"></div>
      <h3><span id="sign-up-link">Sign Up</span> | <span id="sign-in-link"><small>Sign In</small></span></h3>
      <div id="sign-up">
        <div class="clear-10"></div>
        <p>It's free</p>
        <div class="clear-10"></div>
        <input placeholder="Email" type="text">
        <div class="clear-10 no-desktop"></div>
        <input placeholder="PH Mobile" type="text">
        <button class="float-right">Sign Up</button>
      </div>
      <div id="sign-up">
        <div class="clear-10"></div>
        <input placeholder="Email" type="text">
        <div class="clear-10 no-desktop"></div>
        <input placeholder="PH Mobile" type="text">
        <button class="float-right">Sign Up</button>
      </div>
    </div>
  </div>
</div>

<div class="clear-50"></div>
<div class="clear-line"></div>
<div class="clear-50"></div>

<div class="container-flex">

  <div class="col-8 col-flex">
  </div>
</div>
